
:host {
  display: flex;
  flex-direction: column;
  background-color: mediumseagreen;
}

:host > * {
  display: flex;
  min-height: 100%;
}

.original-container{
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.original-container > * {
  flex: 0.5;
}
