<h2>ngModel</h2>

<div class="form">
  <h3>custom-input</h3>
  <custom-input
    [(ngModel)]="name"
    required
    [type]="'text'"
    [id]="'ngmodel-name'"
    [placeholder]="'Enter Name'"
    [showValidationResult]="false"></custom-input>
  Name: {{name}}

  <h3>custom-labeled-input</h3>
  <custom-labeled-input
    [(ngModel)]="lastName"
    required
    [type]="'text'"
    [id]="'ngmodel-lastname'"
    [placeholder]="'Enter Last Name'"
    [label]="'Name'"
    [isRequired]="true"></custom-labeled-input>
  Last Name: {{lastName}}
</div>

